* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #69768a;
}

input {
  margin:1em 0;
  color: #69768a;
  padding:.2em;
  border: 1px solid hsl(217, 35%, 75%);
  border-radius: .5em;
  outline: none;
}

/* text:focus {
  margin:1em 0;
  color: #69768a;
  padding:.2em;
  border: 1px solid hsl(217, 35%, 75%);
  border-radius: .5em;
} */

select {
  color: #69768a;
  padding:.2em;
  border: 1px solid hsl(217, 35%, 75%);
  border-radius: .5em;
  outline: none;
}

input[type=button], input[type=submit], input[type=reset] {
  color: white;
  padding:.25em 1em;
  border: 1px solid hsl(217, 35%, 75%);
  border-radius: .5em;
  background-color: #8893a4;
  cursor: pointer;
}

.container {
  width: 605px;
  margin: 0 auto;
}